@import "../../../variable.scss";

.listcon {
    height: 100%;
    width: 750px;

    box-sizing: border-box;
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

.listcon__list__festival,
.listcon__list__place {
    width: 100%;
    height: 100%;
    overflow: scroll;
    // box-sizing: border-box;
    padding: 1rem;
    overflow-x: hidden;
    // padding: 0.5rem;
    // overflow: hidden;
    &::-webkit-scrollbar {
        width: 10px; /* 스크롤바 너비 */
    }

    &::-webkit-scrollbar-thumb {
        background-color: rgb(58, 58, 58); /* 스크롤바 색상 */
        border-radius: 10px; /* 스크롤바 둥글게 */
    }

    &::-webkit-scrollbar-track {
        background-color: rgba(255, 255, 255, 0.1); /* 스크롤바 트랙 배경색 */
    }
}

.listcon__contentwrap__place {
    height: 100%;
    display: flex;
    flex-direction: column;
}
// .listcon__contentwrap__festival,
// .listcon__contentwrap__place {
//     // overflow: scroll;
//     height: 100%;
//     width: 100%;
//     &::-webkit-scrollbar {
//         width: 10px; /* 스크롤바 너비 */
//     }

//     &::-webkit-scrollbar-thumb {
//         background-color: rgb(58, 58, 58); /* 스크롤바 색상 */
//         border-radius: 10px; /* 스크롤바 둥글게 */
//     }

//     &::-webkit-scrollbar-track {
//         background-color: rgba(255, 255, 255, 0.1); /* 스크롤바 트랙 배경색 */
//     }
// }

.spinner {
    height: 100%;
    width: 100%;
}

.spinner {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttoncon {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    justify-content: flex-end;
    padding-bottom: 1rem;
}

.buttoncon__nowlocation,
.buttoncon__festival {
    @include button-listcon;
    border: 1px solid rgb(172, 172, 172);
    padding: 0.3rem 0.5rem 0.3rem 0.5rem;
    border-radius: 10px;
    transition: height 0.3s ease, opacity 0.3s ease, background-color 0.3s ease,
        color 0.3s ease;
    &:hover {
        background-color: rgb(204, 224, 255);
        color: $seoul-blue;
    }
}

.buttoncon__festival {
    @include button-listcon;
}

.emptylist {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.additionallist {
    // height: 100px;
    display: flex;
    flex-direction: column;
}

.additionallist__title {
    font-family: $font-noto-sans-kr;
    font-size: 20px;
    font-weight: $Bold;
    padding: 1rem 0 1rem 0;
}

.additionallist__content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
}

.additionallistitem {
    display: flex;
    background-color: rgb(234, 252, 255);
    color: $seoul-blue;
    border-radius: 20px;
    padding: 0.5rem;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    &:hover {
        background-color: rgb(95, 202, 221);
        color: white;
    }
    &:active {
        background-color: rgb(255, 226, 167);
        transform: scale(0.95); // 클릭 시 크기 살짝 줄어드는 효과
    }
}
