@import "../../../../variable.scss";

.card {
    border: 1px solid red;
}

.placecard {
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 32px;
    margin: 0 0 1.5rem 0;

    box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px,
        rgba(17, 17, 26, 0.1) 0px 0px 8px;

    &:hover {
        translate: tran;
    }
}

.placecard__wrap {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.placecard__img {
    width: 210px;
    min-width: 210px;
    height: 205px;
    border: {
        radius: 10px;
    }
    object-fit: cover;
}

.placecard__content {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-left: 1rem;
}

.placecard__title {
    @include h3-style;
}

.placecard__desc {
    @include span-style;
    padding: 1rem 0 1rem 0;
}

.placecard__gender {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
}

.placecard__gender-female,
.placecard__gender-male {
    display: flex;
    flex-direction: row;
    align-items: center;
    @include span-style;
    gap: 0.5rem;
}

.placecard__gender-female::before {
    content: url(../../../../assets/female.svg);
    height: 23px;
    width: 23px;
    background-color: #ffdfda;
    border-radius: 10%;
    display: flex;
}

.placecard__gender-male::before {
    content: url(../../../../assets/male.svg);
    height: 23px;
    width: 23px;
    background-color: #cfebff;
    border-radius: 10%;
    display: flex;
}

.content__label {
    display: flex;
    padding: 0.5rem 0 0.5rem 0;
}

.content__label-congest {
    @include Congestion-1;
}

.붐빔 {
    @include Congestion-1;
}

.약간 {
    @include Congestion-2;
}

.보통 {
    @include Congestion-3;
}

.여유 {
    @include Congestion-4;
}
