@import "../../../../variable.scss";

.title {
    padding: 3rem 0 1rem 0;
}

.title__main {
    @include h2-style;
}

.title__main__blue {
    color: $seoul-blue;
}

.title__desc {
    @include p-style;
    padding: $padding-thin 0 $padding-thin 0;
}
